<% if @connected_to_evernote %>
  <div>You are connected to Evernote</div>
  <a href='/recipes'>See your recipes</a>
  <a href='/logout'>Unlink Evernote</a>
<% else %>
  <a href='/temp_auth'>Connect to Evernote</a>
<% end %>
